{% extends 'base.html' %}

{% block title %}
    Create New Author
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Create a New Author</h2>

    <form method="POST" class="card p-4 shadow">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Save Author</button>
    </form>

    <div class="mt-4 d-flex gap-3">
      
        <a href="{% url 'book_list' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}
